

<center><h1>Bitcoin Chart</h1></center>
<div class="container">


  <canvas id="Bitfinex"></canvas>
</div>


<script>
var buf = {};
buf['Bitfinex'] = [[], []];

var ws = new WebSocket('wss://api.bitfinex.com/ws/');
ws.onopen = function() {
    ws.send(JSON.stringify({
        "event": "subscribe",
        "channel": "trades",
        "pair": "BTCUSD"
    }));
};
ws.onmessage = function(msg) {
    var response = JSON.parse(msg.data);
    if (response[1] === 'te') {
        buf['Bitfinex'][response[5] > 0 ? 0 : 1].push({
            x: response[3] * 1000,
            y: response[4]
        });
    }
}
var id = 'Bitfinex';
var ctx = document.getElementById(id).getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            data: [],
            label: 'Buy',
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            fill: false,
            lineTension: 0
        }, {
            data: [],
            label: 'Sell',
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            fill: false,
            lineTension: 0
        }]
    },
    options: {
        title: {
            text: 'BTC/USD (' + id + ')',
            display: true
        },
        scales: {
            xAxes: [{
                type: 'realtime'
            }]
        },
        plugins: {
            streaming: {
                duration: 300000,
                onRefresh: function(chart) {
                    Array.prototype.push.apply(
                        chart.data.datasets[0].data, buf[id][0]
                    );
                    Array.prototype.push.apply(
                        chart.data.datasets[1].data, buf[id][1]
                    );
                    buf[id] = [[], []];
                }
            }
        }
    }
});



</script>
