  <div id="ticker_window">
    <h1>BTC Ticker</h1>
    <table id="day_and_time">
      <tr>
        <td>
          <p id="date"></p>
        </td>
          <br>
        <td>
          <p id="clock"></p>
        </td>
      </tr>
    </table>
    <p id="exchange">Exchange:<span class="exchange">&nbsp;Coinbase</span></p>
    <p class="status">Status: <span class="status" id="status">Connecting...</span></p>
    <div style="padding-left: 5px;">
      <ul id="ticker">
      </ul>
    </div>
  </div>
