<div class="container-fluid">
  <div class="row">
            <div class="col-md-12">
<h1 class="text-center">Bitcoin Price</h1>
</div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1 col-sm-4">
<h2 class="text-center usd-price"></h2>
</div>
        <div class="col-md-4">
<h2 class="text-center gbp-price"></h2>
</div>
        <div class="col-md-3 col-sm-4">
<h2 class="text-center aud-price"></h2>
</div>
  </div>
  <div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 prices">
  </div>
  </div>
</div>
