$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;

}
.center{
  text-align: center;
}

.article-meta-details {

border-top: 1px solid #eaeaea;

margin-top: 15px;

}

.article-actions {

border-top: 1px solid #eaeaea;

padding-top: 5px;

}

.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}

.description {

margin-top: 0;

}


footer{

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1 px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}
footer small {
  float: left;
}

html {
  height: 100%;
  background: #2c3338;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  position: relative;
  Font-family: Montserrat;
  font-weight: 350;
  font-size: 35px;
  margin: 0;
}

p {
  position: relative;
  Font-family: Montserrat;
}

#day_and_time {
  position: relative;
  border-spacing: 0px;
  padding: 0;
  margin: 0;
  color: green;
}


#ticker_window {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: 500px;
  background: black;
  padding: 1em;
  margin: 6em auto;
  border: 7px solid #7a9f9f;
  box-shadow: 0px 30px 60px -5px #000;
}

.exchange {
  color: green;
  padding: 0;
  margin: 0;

}

.status,
#exchange {
  padding: 0;
  margin: 0;
  color:green;
}

#ticker {
  width: 200px;
  max-height: 400px;
  overflow: auto;
  list-style: none;
  font-size: 15px;
  direction: rtl;
}

.tick {
  margin: auto;
  text-align: center;
}

li {
  width: 175px;
  list-style-type: none;
  text-align: left;
}

li.sell {
  background-color: rgb(105, 199, 115);
}

li.buy {
  background-color: rgb(199, 105, 105);
}
