$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 25px;
  color: green;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Aclonica'
}

#logo:hover{
  color: #fff;
  text-decoration: none;

}

.center{
  text-align: center;
  box-shadow: 10px 10px 5px #888888;

}





.jumbotron{
  color:green;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 60px;
  text-transform: uppercase;
  background-color: black;
   background-size: cover;




}
.jumbotron h1{

  color: green;
  font-family: 'Aclonica'


}

.jumbotron h1:hover{
  color: #fff;
  text-decoration: none;

}




#bs-example-navbar-collapse-1{
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Aclonica'






}

.nav.navbar-nav{
  font-family: 'Aclonica'
}

.nav.navbar-nav > li > a {

  color:green;

  &:hover {
color:white;
  }
}




.article-meta-details {

border-top: 1px solid #eaeaea;

margin-top: 15px;

}

.article-actions {

border-top: 1px solid #eaeaea;

padding-top: 5px;

}

.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}

.description {

margin-top: 0;

}

footer a:hover {

color: black;

}

footer small {

float: left;

color: black;

}

footer ul {

float: right;

list-style: none;

color: black;

}

footer ul li {

float: left;
color: black;

margin-left: 15px;

}

.footer{

  color:black;
}






html {
  height: 100%;
  background: #2c3338;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  position: relative;


  font-size: 35px;
  margin: 0;
  color: green;
  letter-spacing: 2px;
  font-weight: bold;
}

th{
  font-size: 30px;
}

td{
  font-size: 25px;
  background-color: black;
  color:green;
}

p {
  position: relative;
  Font-family: Montserrat;
}

#day_and_time {
  position: relative;
  border-spacing: 0px;
  padding: 0;
  margin: 0;
  color: green;
  text-align: center;
}


#ticker_window {
  position: relative;
  margin: auto;
  top: 0;
  font-weight: bolder;
  font-size: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1000px;
  width: 1000px;
  background: black;
  padding: 1em;
  margin: 6em auto;
  border: 7px ;
  border-color: green;
  box-shadow: 0px 30px 60px -5px ;
  text-align: center;

}

.exchange {
  color: green;
  padding: 0;
  margin: 0;
  font-size: 20px;


}

.status,
#exchange {
  padding: 0;
  margin: 0;
  color:green;
  font-size:20px;

}

.nav{
  color:black;
}



#ticker {
  width: 600px;
  max-height: 500px;
  overflow: auto;

  font-size: 25px;
  direction: inherit;
  color: black;
  text-align: center;


}

.tick {

  text-align: center;
  background-color: green;
  width: 500px;

}

li {
  width: 175px;
  list-style-type: none;
  text-align: left;
}

li.sell {
  background-color: rgb(105, 199, 115);
}

li.buy {
  background-color: rgb(199, 105, 105);
}
