<div class = "container">
  <footer class = "footer">
    <small>
      Copyright M.Florence
    </small>
    <ul>
      <li> <%= link_to "About", about_path %> </li>
    </ul>
  </nav>
</footer>
</div>
